extends layout

block content

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Headliner
    h6 Need a headliner? I can help!

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='name') Enter one or more words for word list:
      .col-md-8
        input.form-control(type='text', name='words', id='words', autocomplete='name', autofocus=true)
    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          | Send
